* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
a.link {
    color: blue;
}
button.btn {
    border: none;
    border-radius: 5px;
    padding: .5rem;
    font-size: 1rem;
    color: white;
    background: #dadada;
    transition: all ease 300ms;
    &[disabled] {
        background: #dadada;
    }
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    h1 {
        margin: .5rem auto 1rem;
    }
    a {
        position: absolute;
    }
}

.relative {
    position: relative;
}

.widget {
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
}
